### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [9]:
#calculate the number of total players by counting individual screen names 
total_players = purchase_data_df['SN'].value_counts()
print (total_players)

Lisosia93          5
Iral74             4
Idastidru52        4
Hiaral50           3
Hada39             3
                  ..
Hala31             1
Sundassa93         1
Aidaira26          1
Chadossa89         1
Aerithriaphos46    1
Name: SN, Length: 576, dtype: int64

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#count the number of unique items by counting individual Item Names
unique_items = purchase_data_df['Item Name'].count()

#find the average price of the items sold
average_price = purchase_data_df['Price'].mean()

#count the total number of purchases made by counting the Purchase IDs starting with 0
number_purchases = purchase_data_df['Purchase ID'].count()

#sum the total amount of the purchases from the price column
total_revenue = purchase_data_df['Price'].sum()

#create a data frame of the results with a dictionary of lists
pa_df = {'Number of Unique Items': [unique_items],
        'Average Price': [average_price],
        'Number of Purchases': [number_purchases],
        'Total Revenue': [total_revenue]}

pa_df

#place the results in a data frame
Purchasing_Analysis = pd.DataFrame(pa_df)

#organize the columns
Purchasing_Analysis = Purchasing_Analysis[['Number of Unique Items',
                                          'Average Price',
                                          'Number of Purchases',
                                          'Total Revenue']]

Purchasing_Analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     780       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
#calculate the total number of each gender of player
#gendered_players = purchase_data_df['Gender'].value_counts()
#print(gendered_players)

#gendered_players = purchase_data_df.loc[:, ['Gender', 'SN']]
#print(gendered_players)

#(added step) needs a total number of players to calculate percentages
all_players = len(purchase_data_df['SN'].unique())
#print(all_players)

#needs a group by like originally thought. Need to group the full data by male and female. Can calculate percentages from there.

male_players = purchase_data_df.groupby(['Gender']).get_group('Male')
#print(male_players)
unique_male_players = len(male_players['SN'].unique())
#print(unique_male_players)

#calculate percent male players by dividing unique male count by total count and multiplying result by 100, and round the result.
percent_male = round((unique_male_players/all_players)*100,2)
#print(percent_male)

#copy/paste same calcs for female and then for other
female_players = purchase_data_df.groupby(['Gender']).get_group('Female')
unique_female_players = len(female_players['SN'].unique())
percent_female = round((unique_female_players/all_players)*100,2)

other_players = purchase_data_df.groupby(['Gender']).get_group('Other / Non-Disclosed')
unique_other_players = len(other_players['SN'].unique())
percent_other = round((unique_other_players/all_players)*100,2)

#print(male_players)
#print(unique_male_players)
#print(percent_male)
#print(female_players)
#print(unique_female_players)
#print(percent_female)
#print(other_players)
#print(unique_other_players)
#print(percent_other)

#As in first task, create a data frame of the results with a dictionary of lists 
gender_dict = {'Gender':['Male', 'Female', 'Other / Non-Disclosed'],
               'Total Count':[unique_male_players, unique_female_players, unique_other_players],
               'Percentage of Players':[percent_male, percent_female, percent_other]}
gender_df = pd.DataFrame(gender_dict)

gender_df

                  Gender  Total Count  Percentage of Players
0                   Male          484                  84.03
1                 Female           81                  14.06
2  Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
#For Purchase Count use Len to find the count for purchases by gender
female_purchases = len(female_players)
male_purchases = len(male_players)
other_purchases = len(other_players)

#print(female_purchases)
#print(male_purchases)
#print(other_purchases)

#For Avg. Purchase Price perform the calculation to divide the sum of the gendered price by the Len of the gendered players price list and round to 2 decimal places.
female_avg_pp = round((female_players['Price'].sum())/len(female_players['Price']),2)
#print(female_avg_pp) it works, but returns 3.2 instead of $3.20, need to think about formatting
male_avg_pp = round((male_players['Price'].sum())/len(male_players['Price']),2)
other_avg_pp = round((other_players['Price'].sum())/len(other_players['Price']),2)

#print(female_avg_pp) Numbers are correct. Good QC.
#print(male_avg_pp)
#print(other_avg_pp)

#Total the purchases for each gender by summing the price for each gender and round to 2 decimal places. It's on the example list, but not really in the directions.
female_tot_purch = round(female_players['Price'].sum(),2)
#print(female_tot_purch) Works. Number correct. Good QC. Do same operaton for other genders.
male_tot_purch = round(male_players['Price'].sum(),2)
other_tot_purch = round(other_players['Price'].sum(),2)

#print(female_tot_purch) All numbers correct for total. Good QC.
#print(male_tot_purch)
#print(other_tot_purch)

#For Avg. Purchase Total per Person divide the gendered total purchase amount just calculated by the gendered number of purchases from the first task, and round to 2 decimal places.
#female_avg_pt = round((female_tot_purch/female_purchases), 2)
#print(female_avg_pt)
#this just returns the average purchase price again. I guess I need to find the total number of gendered purchasers and divide the total from that.
#going to try and use the unique_gender to find unique purchasers and go from there
female_unique_purchasers = len(female_players['Price'].unique())
#print(female_unique_purchasers) Correct number. Good QC. Return is the correct value to get $4.47 by dividing total purchase price by unique purchasers.
male_unique_purchasers = len(male_players['Price'].unique())
other_unique_purchasers = len(other_players['Price'].unique())

#print(female_unique_purchasers)
#print(male_unique_purchasers)
#print(other_unique_purchasers)

female_avg_pt = round((female_tot_purch/female_unique_purchasers), 2)
male_avg_pt = round((male_tot_purch/male_unique_purchasers), 2)
other_avg_pt = round((other_tot_purch/other_unique_purchasers), 2)

#print(female_avg_pt) Numbers aren't matching the example. Not sure where the flaw in my logic is hampering the result. Office hours hear I come.
#print(male_avg_pt)
#print(other_avg_pt)

#going to output the data frame with mostly correct results. will circle back to fix error when i understand the flaw in my logic.
Purchasing_Analysis_Gender = {'Gender':['Female','Male','Other / Non-Disclosed'],
                              'Purchase Count':[female_purchases, male_purchases, other_purchases],
                             'Average Purchase Price':[female_avg_pp, male_avg_pp, other_avg_pp],
                             'Total Purchase Value':[female_tot_purch, male_tot_purch, other_tot_purch],
                             'Average Total Purchase per Person':[female_avg_pt, male_avg_pt, other_avg_pt]}
Purch_Analy_DF = pd.DataFrame(Purchasing_Analysis_Gender)

Purch_Analy_DF

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
0,Female,113,3.20,361.94,4.58
1,Male,652,3.02,1967.64,13.66
2,Other / Non-Disclosed,15,3.35,50.19,4.18

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [40]:
#find the maximum and minimum of the ages in the data to understand the binning
max_age = purchase_data_df['Age'].max()
min_age = purchase_data_df['Age'].min()

#print(max_age)
#print(min_age)

#create bins of ages and associated labels per the example
age_bins = [0,9,14,19,24,29,34,39,46]
age_bin_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

#use the pd.cut() to create the output
purchase_data_df['Age Data Output'] = pd.cut(purchase_data_df['Age'],age_bins, labels=age_bin_labels)
purchase_data_df.columns

#now that the index exists with associated bins, populate the associated data with groupby. Get percent by finding players in the bin size and dividing by the total number of players.
bin1 = purchase_data_df.groupby(['Age Data Output']).get_group('<10')
players1 = len(bin1['SN'].unique())
percent1 = (players1/all_players)*100

#copy pasta for the rest of the bins, changing sequence numbers and associated bins
bin2 = purchase_data_df.groupby(['Age Data Output']).get_group('10-14')
players2 = len(bin2['SN'].unique())
percent2 = (players2/all_players)*100

bin3 = purchase_data_df.groupby(['Age Data Output']).get_group('15-19')
players3 = len(bin3['SN'].unique())
percent3 = (players3/all_players)*100

bin4 = purchase_data_df.groupby(['Age Data Output']).get_group('20-24')
players4 = len(bin4['SN'].unique())
percent4 = (players4/all_players)*100

bin5 = purchase_data_df.groupby(['Age Data Output']).get_group('25-29')
players5 = len(bin5['SN'].unique())
percent5 = (players5/all_players)*100

bin6 = purchase_data_df.groupby(['Age Data Output']).get_group('30-34')
players6 = len(bin6['SN'].unique())
percent6 = (players6/all_players)*100

bin7 = purchase_data_df.groupby(['Age Data Output']).get_group('35-39')
players7 = len(bin7['SN'].unique())
percent7 = (players7/all_players)*100

bin8 = purchase_data_df.groupby(['Age Data Output']).get_group('40+')
players8 = len(bin8['SN'].unique())
percent8 = (players8/all_players)*100

players_bins = [players1, players2, players3, players4, players5, players6, players7, players8]
percents_bins = [percent1, percent2, percent3, percent4, percent5, percent6, percent7, percent8]
#round the values in the percents_bins index using round
percents_bins = [round(x,2) for x in percents_bins]

#print(players_bins)
#print(percents_bins)

#create a dictionary of lists for the summary of the age data
age_summary_data = {'Age Data Output':age_bin_labels, 'Total Player Count':players_bins, 'Percentage of Players':percents_bins}
age_summary_data_df = pd.DataFrame(age_summary_data)
age_summary_data_df

#output is mostly correct. I've got an error in the bins for <10 and 10-14 somewhere. the rest of the returns match the sample. need to troubleshoot.
##figured out error when moving bins to next step. had 10 instead of 9, which made the <10 and 10-14 bins incorrect.
###re-ran and output correct

  Age Data Output  Total Player Count  Percentage of Players
0             <10                  17                   2.95
1           10-14                  22                   3.82
2           15-19                 107                  18.58
3           20-24                 258                  44.79
4           25-29                  77                  13.37
5           30-34                  52                   9.03
6           35-39                  31                   5.38
7             40+                  12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [50]:
#binning accomplished in previous step. use the screen name of each user in the SN column to uniquely identify the purchaser and perform the calcs to get the count of purchases, average purchase price, and total purchase per person/SN.
##(added) it should have been obvious that for this cell in a jupyter notebook, i had to run the bins again. 
###add bins (copy bins established in previous step)
age_bins = [0,9,14,19,24,29,34,39,46]
age_bin_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

#similarly, should use pd.cut to get the data in better shape. why i didn't start with the same steps as previous, i don't know.
##used purchase_data_df from previous exercise, need to create new cut data, name, and then replace in my subsequent code
purchase_data_df['Total Player Count'] = pd.cut(purchase_data_df['Age'],age_bins, labels=age_bin_labels)
cut_rows = purchase_data_df[['Total Player Count', 'SN','Price']]
#cut_rows

screen_name = purchase_data_df.groupby(purchase_data_df['SN'])
unique_screen_name = screen_name['SN'].unique()

#need to get the groupbys for Total Player Count, the number of purchases, the average purchase price, and the total purchase.
cut_rows_total_player_count = cut_rows.groupby('Total Player Count')
purchase_count = cut_rows_total_player_count['Price'].count()
purchase_average = round(cut_rows_total_player_count['Price'].mean(),2)
purchase_total = round(cut_rows_total_player_count['Price'].sum(),2)
purchase_average_per = round(purchase_total/576,2)

#with the calcs done, we can create a data frame to hold the outputs 
purch_analy_age_df = pd.DataFrame([purchase_count, purchase_average, purchase_total,purchase_average_per])

#use Transpose T to transpose index and columns
purch_analy_age_df_T = purch_analy_age_df.T

#arrange the columns correctly to the standard in the example
purch_analy_age_df_T.columns = ['Purchase Count','Average Purchase Price', 'total Purchase Value', 'Avg Total Purchase per Person']

#check results
purch_analy_age_df_T.head()

#____________________

#old template code that wasn't exactly right. kept for reference to fix

##screen_name = purchase_data_df.groupby(purchase_data_df['SN'])

##unique_screen_name = screen_name['SN'].unique()

#print(screen_name)
#print(unique_screen_name)

#purchase count will be the count of the individual purchases
##purchase_count = screen_name['Age'].count()
#print(purchase_count)

#average purchase price will be mean of the price of the data, and we can use round to get 2 decimal places.
##purchase_average = round(screen_name['Price'].mean(),2)
#print(purchase_average)

#for purchase total per person, sum the price grouped by the screen names
##purchase_total = screen_name['Price'].sum()
##print(purchase_total)

#with the calcs done, we can create a data frame to hold the outputs making a dictionary of lists and then pd.DataFrame
##purchase_summary_data = {'SN':unique_screen_name,
                         #'Purchase Count':purchase_count,
                         #'Avg. Purchase Price':purchase_average,
                         #'Avg. Purchase Total Per Person':purchase_total}
#purchase_summary_data_df = pd.DataFrame(purchase_summary_data)
#purchase_summary_data_df

,Purchase Count,Average Purchase Price,total Purchase Value,Avg Total Purchase per Person
Total Player Count,,,,
<10,23.0,3.35,77.13,0.13
10-14,28.0,2.96,82.78,0.14
15-19,136.0,3.04,412.89,0.72
20-24,365.0,3.05,1114.06,1.93
25-29,101.0,2.90,293.00,0.51

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame